{% extends '@projet1/Default/base.html.twig' %}

{% block content %}
<div class="container">
    <div class="groupe_index">


        <h1 class="titre_index">Histoire de la principauté</h1>


        <p class="text_index">
            Les premières traces de vie à Monaco remontent à environ 300 000 ans avant JC. La protection qu'apportent le
            rocher ainsi que le port naturel de Monaco attirent de nombreuses peuplades : Ligures, Phéniciens, Grecques,
            Romains, Sarrasins.

            Les premiers habitants sédentaires étaient des ligures qui ont émigré depuis la ville de Gênes en Italie.
            Les
            phocéens de Marseilles (alors Massalia) ont fondé la colonie de Monoïkos au VIe siècle av. J.-C. à l'endroit
            ou
            se trouve maintenant Monaco. Après la Guerre des Gaules, Monoecus, où Jules César s'est arrêté en se rendant
            en
            Grèce, passe sous contrôle romain au sein de la province de Gaule narbonnaise.

            Au Moyen Age, Monaco reste sous domination romaine jusqu'à l'effondrement de l'Empire romain d'Occident en
            476.
            L'endroit a ensuite été occupé et ravagé par les sarrasins et diverses tribus barbares. Les sarrasins en
            furent
            expulsés en 975 et au XIe siècle, l'endroit était de nouveau peuplé par les Ligures.

            En 1191, l'Empereur romain germanique Henry VI concède la souveraineté sur Monaco à la ville de Gênes en
            Italie,
            d'où sont originaires les Ligures. Le 10 juin 1215, un détachement de Gibelins mené par Fulco del Cassello a
            commencé la construction d'une forteresse sur le rocher de Monaco.

            Le 8 janvier 1297, François Grimaldi dit Malizia (François la Malice) s'empare de la forteresse sous un
            déguisement de moine franciscain. On trouve sur le blason de la principauté les traces de cette origine avec
            les
            deux moines tenant une épée.
        </p>
        <h2 class="titre_index">Le Rocher</h2>

        <img class="img1_index"
             src="{{ asset ('assets/images/rocher.jpg') }}"
             alt="">

        <p class="text_index">L'autorité des Grimaldi fut définitivement reconnue en 1314, et s'est perpétuée jusqu'à
            aujourd'hui à la
            seule
            exception de la période de 1793-1814 pendant laquelle Monaco fut intégrée à la France, sous le nom de
            Fort-Hercule. La ville est ensuite placée sous protectorat du royaume de Sardaigne par le congrès de Vienne
            jusqu'en 1860. Enfin, en 1861, un traité franco-monégasque assure la souveraineté de Monaco.

            Autrefois, les communes françaises de Menton et de Roquebrune (aujourd'hui Roquebrune-Cap-Martin) faisaient
            partie de la Principauté. Elles ont été rattachées à la France lors du traité de 1861 .

            Le Prince de Monaco dispose des pleins pouvoirs (monarchie absolue) jusqu'à l'octroi de la constitution de
            1911,
            qui fait du pays une monarchie constitutionnelle. En juillet 1918, un traité accordant une protection
            limitée de
            la Principauté par la France est signé entre les deux pays.


            En 1949, le Prince Rainier III accède au trône après la mort de son grand-père le Prince Louis II.
        </p>

        <h2 class="titre_index">Casino de Monte-Carlo</h2>
        <img class="img1_index"
             src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZhEbyIWrnkg1IJntjXa_GVoHAlRicZyrzr9kZfAZ0lu1TkEzuuQ"
             alt="">


        <p class="text_index">
            En 1993, Monaco devient officiellement membre de l'Organisation des Nations Unies.

            En 2002, un nouveau traité entre la France et Monaco stipule que la Principauté restera un État indépendant
            dans
            le cas où il n'y aurait pas de descendant dans la dynastie.

            En 2004, la Principauté de Monaco rejoint le Conseil de l'Europe.

            Le 6 avril 2005, à la mort du Prince Rainier III, c'est son fils le Prince Albert II (né en 1958), qui
            devient
            Prince Souverain de Monaco. Les cérémonies marquant son avènement se sont déroulées le 12 juillet 2005,
            celles
            de son intronisation officielle le 19 novembre 2005.

            Les 1er et 2 juillet 2011 ont lieu les cérémonies du mariage du Prince Albert II avec la Princesse Charlene.

            Le 10 décembre 2014, LL.AA.SS. le Prince Albert et la Princesse Charlène annoncent la naissance de S.A.S. le
            Prince héréditaire Jacques et de S.A.S. la Princesse Gabriella.

            La dynastie des Grimaldi préside aux destinées de la Principauté de Monaco depuis plus de sept siècles.
            Cette
            longévité illustre l'unité nationale des Princes et du Peuple monégasque.

            Un état indépendant et souverain
        </p>
        <img class="img1_index"
             src="{{ asset ('assets/images/museeoceanographiquemonaco.jpg') }}"
             alt="">

        <p class="text_index">
            Etat indépendant et souverain de 32 796 habitants (recensement de 2008), la Principauté de Monaco est
            limitrophe
            avec quatre communes du département français des Alpes-Maritimes (d’ouest en est : Cap d’Ail, La Turbie,
            Beausoleil et Roquebrune Cap-Martin) et possède une façade sur la Méditerranée.

            Sa superficie est de 2 km2, dont près de 40 hectares gagnés sur la mer au cours des 20 dernières années.
            Elle
            s’étend sur une étroite bande côtière de 4100 mètres culminant à 163 mètres. Sa largeur varie de 1050 mètres
            à
            350 mètres.

            125 nationalités représentées

            Monaco est une ville-état ouverte sur le monde : près de 125 nationalités y sont représentées. Parmi les
            résidents, 28 % sont Français, 17 % Italiens et 6 % Britanniques. Le Français est la langue officielle, mais
            l'Italien et l’Anglais sont aussi communément compris et parlés. La langue monégasque est utilisée par les
            anciens et enseignée aux plus jeunes dans les écoles de la Principauté.

            La Principauté est une monarchie héréditaire et constitutionnelle qui affirme la primauté du droit sur
            toutes
            les institutions et qui assure la séparation des pouvoirs.
        </p>
        <img class="img1_index"
             src="{{ asset ('assets/images/prince_rainier.jpg') }}"
             alt="">
        <p class="text_index">
            Le pouvoir exécutif relève de la haute autorité du Prince, la Direction des Services étant confiée au
            Ministre
            d'État, assisté de Conseillers de Gouvernement, responsables envers le Prince. Les pouvoirs législatif et
            budgétaire sont exercés conjointement par le Prince et par le Conseil National. Le pouvoir judiciaire,
            indépendant du Gouvernement, est exercé par les cours et tribunaux.

            Collectivité publique de caractère administratif, la Commune de Monaco est gérée par une assemblée élue
            soumise
            à la tutelle de l'État, le Conseil Communal. La Principauté ne formant qu’une seule commune, le ressort
            géographique de la Mairie de Monaco s’étend au territoire monégasque tout entier.
        </p>
        <H2 class="titre_index">Port de Monte-Carlo</H2>
        <img class="img1_index" src="https://breathewithus.com/wp-content/uploads/2016/03/monaco-day-710x399.jpg"
             alt="">
    </div>
</div>

{% endblock %}