{% extends '@projet1/Default/base.html.twig' %}


{% block content %}

    <div class="container d-flex flex-column accueil align-items-center text-white justify-content-center ">

        <div><h1 class="titre_accueil">Bienvenue dans la principauté</h1></div>
        <a href="#">
            <div class="bouton text-center">
                <span>Découvrir</span>
            </div>
        </a>
    </div>


{% endblock %}
